;; -*- mode: Lisp; -*-

(setq prj-version "0.4")

(setq prj-config
      '(("project-name" . "shutup.tw")))

(setq prj-tools
      '(("Make" "make" "f9")
        ("Clean" "make clean" "C-f9")
        ("Run" "echo run what" "f8")
        ("Stop" "-e eproject-killtool" "C-f8")
        ("---")
        ("Configure" "./configure")
        ("---")
        ("Explore Project" "nautilus --browser `pwd` &")
        ("XTerm In Project" "xterm &")))

(setq prj-files
      '((".ruby-version" 1 1)
        (".ruby-gemset" 1 1)
        ("access-credentials" 1 2)
        (".gitignore" 1 27)
        ("Gemfile" 1 14)
        (".env" 1 1)
        ("tweet.sandbox.rb" 1 10)
        ("db/migrate/20140629100545_create_users.rb" 1 7)
        ("app/models/user.rb" 1 2)
        ("config/database.yml" 1 2)))

(setq prj-curfile "app/models/user.rb")

(setq prj-functions nil)

